*
{
    margin: 0;
    padding:0;
}

.main
{
    height:100vh;
    background: url("Images/bg-img.png");
}

.navbar
{
    height:100px;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}

.brand
{
    width:302px;
    background:#403D52;
    display: flex;
    border-radius: 100px;
    margin-left: 96px;
    padding-top:4px;
    padding-bottom: 4px;
    justify-content: center;
}

.logo
{
    height:86px;
    margin-left: 16px;
}

.separator
{
    width:1px;
    background:white;
    margin-left:16px;
    height:58px;
    align-self: center;
}

.brand p
{
    color:white;
    align-self:center;
    margin-left: 24px;
    font-size: 16px;
}

.ham
{
    background-image: url("Images/navbar-content.png");
    height:100px;
    width:835px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.ham ul
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

.ham ul a
{
    text-decoration: none;
}

.ham ul li
{
    list-style: none;
    color: white;
    font-size: 18px;
}

.active
{
    color:#78D0D3 !important;
}