*
{
    margin: 0;
    padding:0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

.main
{
    height:100vh;
    background: url("Images/bg-img.png");
    background-repeat: no-repeat;
}

.navbar
{
    height:100px;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}

.brand
{
    width:302px;
    background:#403D52;
    display: flex;
    border-radius: 100px;
    margin-left: 96px;
    padding-top:4px;
    padding-bottom: 4px;
    justify-content: center;
}

.logo
{
    height:86px;
    margin-left: 16px;
}

.separator
{
    width:1px;
    background:white;
    margin-left:16px;
    height:58px;
    align-self: center;
}

.brand p
{
    color:white;
    align-self:center;
    margin-left: 24px;
    font-size: 16px;
}

.ham
{
    background-image: url("Images/navbar-content.png");
    height:100px;
    width:835px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.ham ul
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

.ham ul a
{
    text-decoration: none;
}

.ham ul li
{
    list-style: none;
    color: white;
    font-size: 18px;
}

.active
{
    color:#78D0D3 !important;
}

.info
{
    margin-top: 96px;
}

.info p
{
    margin-left: 96px;
    font-size: 33px;
    color: #545166;
    line-height: 188.69%;
    letter-spacing: 0.045em;
}

.info p strong
{
    font-size:150%;
    font-family: "Libre Baskerville";
}

.btns
{
    display: flex;
    margin-left: 96px;
    margin-top: 15px;
}

.callbtn
{
    height:72px;
    width: 337px;
    background: white;
    box-shadow: 4px 4px 4px rgba(64, 61, 82, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.quotebtn
{
    height: 72px;
    width: 337px;
    border: 1px solid #484559;
    background: #DEEBED;
    opacity: 0.6;
    margin-left: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns a
{
    text-decoration: none;
    color:#474559;
    font-size: 20px;
    font-family: 'Libre Baskerville';
}

.vismiss
{
    margin-top:100px;
    width: flex-end;
    margin-left:96px;
    display: flex;
    
}

.circles
{
    align-self:flex-end;
}

.business
{
    height: 382px;
    left: 315px;
    border-radius: 0px 0px 0px 80px;
}

.viscontent
{
    height: 382px;
    background: linear-gradient(180deg, #403D52 0%, #86D4D7 125.54%);
    border-radius: 0px 80px 0px 0px;
    width:100%;
}

.viscontent p
{
    margin-left:51px;
    line-height: 197.69%;
    letter-spacing: 0.06em;
    margin-top: 35px;
    font-size: 20px;
    color:white;
}

.viscontent p strong
{
    font-family: 'Libre Baskerville';
}

.mvps
{
    margin-top: 418px;
    display:flex;
    width:1024px;
    margin-left: 213px;
    justify-content: space-between;
}

.services
{
    margin-left: 145px;
    margin-top: 145px;
    display: flex;
    flex-wrap: wrap
}

.servicecloud
{
    background: url("Images/cloud.png");
    height: 162px;
    width: 487px;
    display: flex;
    justify-content: center;
    
}

.servicecloud p
{
    font-family: "Libre Baskerville";
    font-size: 35px;
    margin-top: 75px;
    color: #403D52;
    letter-spacing: 0.06em;
}

.halfrect
{
    background: url("Images/half-rectangle.png");
    height: 328px;
    width: 642px;
    margin-left: -43px;
}

.cloud
{
    background: url("Images/cloud\ pic.png");
    height: 354px;
    width: 443px;
    margin-top:-138px;
}

.cloudservices
{
    margin-top: -138px;
    margin-left: 100px;
}

.servicedesc
{
    font-size: 16px;
    line-height: 197.69%;
    letter-spacing: 0.06em;
}

.servicedesc strong
{
    font-family: "Libre Baskerville";
    font-size: 24px;
    letter-spacing: 0.06em;
}

learn
{
    font-size:20px;
    letter-spacing: 0.06em;
    color: #403D52;
    text-shadow: 0px 4px 4px rgba(64, 61, 82, 0.3);
}

.industry
{
    margin-top: 84px;
    height:354px;
    width:100%;
    display: flex;
}

.vertrect
{
    background: url("Images/vertrect.png");
    height: 354px;
    width: 4px;
}

.industrydesc
{
    margin-left: 46px;
}

.industrypic
{
    margin-left:160px;
}

.construction
{
    display: flex;
    margin-top: 94px;

}

.constructiondesc
{
    margin-left: 100px;
}

.halfrectright
{
    margin-left: -470px;
}

.innovations
{
    background: linear-gradient(180deg, #403D52 41.08%, #FFFFFF 154.34%);
    border-radius: 0px 100px;
    /* background: url("Images/Rectangle\ 33.png"); */
    height:500px;
    width:1244px;
    margin-top: 162px;
    padding-top: 19px;
    background-repeat: no-repeat;
}

.innovationsdesc
{
    margin-left: 242px;
    height: 116px;
    width: 567px;

}

.innovations p
{
    font-size: 24px;
    letter-spacing: 0.06em;
    color: #78D0D3;
}

.innovations p strong
{
    font-size: 35px;
    font-family: "Libre Baskerville";
    color: white;
}

.quantum
{
    margin-left: 163px;
    margin-top: 37px;
}

.gis
{
   margin-left: 55px;
   margin-top: 37px;
}

.ism
{
    position: absolute;
    margin-left: 55px;
    margin-top: 37px;
}

.circlessmall
{
    position:absolute;
}

.getintouchimg
{
    height:854px;
    width: 100%;
    margin-top:221px;
    background: #403D52;
    border-radius: 0px 100px 0px 0px;
    display: flex;
}

.leftcontent
{
    height:674px;
    width: 506px;
    margin-left: 100px;
    margin-top: 85px;
    display: flex;
    flex-direction: column;
}

.rightcontent
{
    height:720px;
    width:524px;
    margin-left: 80px;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
}

.logobottom
{
    align-self: center;
    margin-bottom: 9px;
}

.leftcontent p 
{
    margin-left:32px;
    font-size: 18px;
    line-height: 197.69%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.vector11
{
    height:133px;
    width:454px;
    background: url("Images/Vector\ 11.png");
    align-self: center;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.vector11 p
{
    font-family: "Libre Baskerville";
    font-size: 32px;
    color:white;
    margin-top: 60px;
}

.rightcontent form input
{
    width: 100%;
    height: 47px;
    border: 1px solid #FFFFFF;
    background: #403D52;
    margin-top: 39px;
    color: white;
    font-size: 18px;
    letter-spacing: 0.06em;
    padding-left: 24px;
}

.msginput
{
    height: 152px;
    width: 100%;
    background: #403D52;
    margin-top: 39px;
    color: white;
    font-size: 18px;
    padding-left: 24px;
    padding-top: 8px;
    letter-spacing: 0.06em;
}

#submitbtn
{
    height: 47px;
    width: 225px;
    margin-top: 39px;
    background: #78D0D3;
    font-size: 17px; 
    color: #403D52;
}

.top
{
    background: url("Images/topbtn.png");
    height: 37px;
    width: 37px;
    margin-left: 480px;
    margin-top: -40px;
}
